<!-- <div class="container text-center mt-5 mb-5" role="main">

  <p>Hola mundo {{title}} </p>
  <app-user [name]="rootName" (nameChange)="onNameChange($event)"></app-user>
  <app-dashboard></app-dashboard>
  <app-user-detail></app-user-detail>
  <p>{{number}}</p>
  <button class="btn btn-primary" (click)="onIncrease()">Increase</button>
</div> -->
<!--
<div class="container" style="margin: 20px">
  <div class="row">
    <div class="col-xs-12">
      <app-cart
        [items]="rootItems"
        (itemAdded)="onItemWasAdded($event)"
      ></app-cart>
    </div>
  </div>
</div> -->

<div class="container d-flex flex-column gap-4">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <app-create-character></app-create-character>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-tabs></app-tabs>
    </div>
  </div>
</div>

